@{
    ViewData["Title"] = "Get To Know Joel";
}

<h1>Get To Know Joel</h1>

<div>
    <p>Joel performs regularly at Quick Wits Comedy:</p>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
</div>

<br />

<div>
    <p>Check out the Baconsale site:</p>
    <a href="https://baconsale.com/">Baconsale</a>
</div>

<br />

<div>
    <a href="https://baconsale.com/">
        <img src="/img/baconsale.jpg" height="500" />
    </a>
</div>
