@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>Get To Know Joel</p>
    <img src="/img/joelhilton.jpg" height = "500"/>
    
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="MovieCollection">Fill Out The Movie Collection</a>
</div>